<h1>Article &quot;<%= article.title %>&quot;</h1>

<article><%- html %></article>


<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand" href="#">Article:</a>
        <ul class="nav">
            <li>
                <button class="btn btn-primary"
                        onClick="document.location= '/wiki/a/<%= article.topic %>/<%= article.name %>/edit'"><i
                        class="icon-pencil "></i>&nbsp; Edit
                </button>
            </li>
        </ul>
    </div>
</div>